body {
  background: rgb(253, 251, 251);
  overflow-x: hidden;
  width: 100vw;
}

.bayan {
  margin: 30px auto;
  max-width: 700px;
  background: rgb(255, 239, 216);
  cursor: pointer;
}

.bayan__item {
  border-top: 1px solid rgb(128, 128, 128);
  border-bottom: 1px solid rgb(128, 128, 128);
}

#border1 {
  border: none;
}

#border2 {
  border: none;
}

.bayan__item-input {
  appearance: none;
  position: absolute;
  width: 0;
  height: 0;
}

.bayan__item-input:checked ~ .bayan__item-meme {
  display: block;
}

.bayan__item-title {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 10px 15px;
}

.bayan__item-title:hover + .bayan__item-meme {
  display: block;
}

.bayan__item-title::after {
  content: "+";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
  font-weight: 500;
  transition: 0.2s;
}

.bayan__item-input:checked ~ .bayan__item-title::after {
  content: "+";
  position: absolute;
  top: 15%;
  right: 20px;
  font-size: 1.5em;
  font-weight: 500;
  transform: rotate(45deg);
  transition: 0.2s;
}

.bayan__item-meme {
  display: none;
  padding: 20px 175px;
}

.bayan:hover {
  color: rgb(86, 86, 86);
  font-weight: 600;
  font-size: 120%;
  transition: 0.2s;
}

.bayan__item-input:checked + .bayan__item-title {
  color: rgb(86, 86, 86);
  font-weight: 600;
}

/* .bayan__item-title:hover + .bayan__item-title::after {
  content: "+";
  position: absolute;
  top: 15%;
  right: 20px;
  font-size: 1.5em;
  font-weight: 500;
  transform: rotate(45deg);
  transition: 0.2s;
} */
